* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

.App {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding-top: 3rem;
}
.app-title {
  color: white;
  font-size: 5rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: 1.5px solid rgba(0, 0, 0, 0.1);
  line-height: 1.5rem;
  font-size: 1.2rem;
  letter-spacing: 1px;
  padding: 10px;
  outline-color: steelblue;
  margin-right: 1rem;
  border-radius: 0.5rem;
}

.search-button {
  width: 20%;
  border: none;
  line-height: 1.5rem;
  letter-spacing: 1px;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 13px;
  cursor: pointer;
  border-radius: 0.5rem;
  background-color: steelblue;
  color: white;
}
.recipe-wrapper {
  background-color: transparent;
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  color: white;
}
